<div>
    <ul class="list-group-flush">
        <li *ngFor="let jobs of results" class="list-group-item">
            <ul>
                <li>
                    <a routerLink="/search-detailpage/{{jobs.id}}/{{jobs.levels[0].name}}"> {{jobs.name}};</a>
                </li>
                <li>id: {{jobs.id}}</li>
                <li *ngFor="let loc of jobs.locations"> locations: {{loc.name}};</li>
                <li> publication_date: {{jobs.publication_date}};</li>
                <li *ngFor="let levels of jobs.levels">levels: {{levels.name}}</li>
            </ul>

        </li>
    </ul>
</div>